body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7A7A7A;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.form.active{
  display: flex;
}
.form{
  width: 400px;
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  gap: 10px;
}
.form input{
  width: 80%;
  background: write;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  margin: 0 8px;
}
.form button{
  background: #6a11cb;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px 15px;
}
button#redregister, button#redlogin{
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #007BFF;
  font-size: 18px;
  transition: color 0.3s ease;
}
button#redregister::after,
button#redlogin::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #007BFF;
  transition: width 0.4s ease-in-out;
}
button#redregister:hover::after,
button#redlogin:hover::after{
  width: 100%;
}
